h1 {
    
    text-align: center;
    font-size: 200%;
    font-size: 130%;
}
body {
    background-color: lightgray;
    padding-right: 1cm;
    padding-left: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
@media(min-width: 992px) {
    #box1, #box2, #box3 {
        
        border: 5px solid black;
        width: 25%;
        height: 200px;
        margin-top: 50px;
        margin-left: 2.5%;
        float: left;
        overflow: auto;
    }
}
@media(min-width: 786px) and (max-width: 991px) {
    #box1, #box2 {
        
        border: 5px solid black;
        width: 45%;
        height: 200px;
        margin-top: 50px;
        margin-left: 2.5%;
        float: left;
        overflow: auto;
    }
    #box3 {
        border: 5px solid black;
        width: 90%;
        height: 200px;
        margin-top: 50px;
        margin-left: 2.5%;
        float: left;
        overflow: auto;
    }
}
@media(max-width: 785px) {
    #box1, #box2, #box3 {
        
        border: 5px solid black;
        width: 90%;
        height: 200px;
        margin-top: 50px;
        margin-left: 2.5%;
        float: left;
        overflow: auto;
    }
}
#box3 {
    background-color: lightgreen;
}
#box2 {
    background-color: lightyellow;
}
#box1 {
    background-color: lightpink;
}

.category {
    position: relative;
    border-style: solid;
    border-color: #287EC7;
    text-align: center;
    margin-left: 80%;
    background-color: yellow;
    font-size: auto;
    font-weight: bold;
    text-transform: uppercase;
}